# Binaries
*.exe
*.dll
*.so
*.dylib
*.exe~

# Local Database
*.db
*.db-shm
*.db-wal
wahaku.db

# Logs
*.log

# Uploads (Exclude content but keep folder)
uploads/*
!uploads/.gitkeep
deploy/uploads/*
!deploy/uploads/.gitkeep

# OS specific
.DS_Store
Thumbs.db

# Node modules
node_modules/

# Config with local credentials
config.json
deploy/config.json

# Editor
.vscode/
.idea/
